body {
    background-image: url('./question-1.jpeg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    font-family: 'Helvetica World', Helvetica, sans-serif;
  }
.tiktokButton {
    background-color: #1e1e1e;
    border: solid #1e1e1e;
    color: #e2e2e2;
    width: 87%;
    padding-top: 2.7%;
    padding-bottom: 2.7%;
    font-size: 1.25rem;
    border-radius: 8px;
    margin-left: 7%;
}
#ilikeit {
    margin-top: 95%;
}
#neitherlikeordislike {
    margin-top: 2.7%;
}
#idontlikeit {
    margin-top: 3%;
}